

body {

  background-color: #eee5e9;


}

.top .navigation {
    list-style: none;
    text-align: right;
    margin: 10px

}

.top .navigation a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.top img{
  width: 200px;
  margin: 10px;
}

.top li{
  display: inline-block;
  margin-left: 15px;
}

.slide img{
  margin: 10px;
  width: 100%;
  height: 400px;
}

.page{
  margin: 10px;
}

.page img {
  margin: 10px;
  width: 100%;
  height:400px;
}

.gallery {
  margin: 10px;
}

.gallery img{
  padding: 10px;
}

.gallery h5{
  text-align: center;
}

.carousel-item{
  height: 500px;
  background: gray;
  color: whitesmoke;
  position: relative;
}

.containerCarousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 30px;
}


.div-catalog {
  border-width: 3px;
  border-style: solid;
  background: #38B000;
}

.carousel-item img{
  object-fit: cover;
   width: 100%;
   height: 100%;
}

.slide img{
  width: 100%;
  height: 500px;
  margin: 0px;

}

.navbar {
    background-color: #43b14b;
}

.container{
    padding-right: 0px;
    padding-left: 0px;
   }

.cotact-main {
    width: 100%;
    background-color: green;
    clear: both;

    display: block;
}


#telefon-div, #email-div, #map-div {
    float: left;
    margin: 0px;
    width: 33%;
}

#facebook-div a, #instagram-div a{
    background-color: yellow;
}

.contact-main div a{
    display: inline-block;
    background-color: red;
    text-align: center;
    height:100%;
    width: 100%
}
